.diceBox {
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  max-width: 600px;
  width: 90vw;
  height: 30vw;
  padding: 200px;
  box-sizing: border-box;
  margin: 0 auto;
  position: absolute;
}
